.btn-primary {
  background-color: #1DB954;
  color: #121212;
  border: none;
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 10px 0;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.btn-primary:hover {
  transform: scale(1.05);
  background-color: #1ed760;
}
