
.main-content {
  flex-grow: 1;
  padding: 24px 40px;
  overflow-y: auto;
}

.home-layout {
  display: flex;
  height: 100vh;
}

@media (max-width: 680px) {
  .home-layout {
    flex-direction: column;
  }

  .main-content {
    flex-grow: 1;
    padding: 24px 40px;
    overflow-y: auto;
    padding-bottom: 80px;
  }
}
